div.notification {
	background: #fcfcfc
}
body {
	overflow: hidden;
}
body .content a {
	color: #D282D9;
	text-decoration: underline;
}


body .content #share-buttons a {
	color: #D282D9;
	text-decoration: none;
	margin-right: 10px;
}

body h1.title, body h2.title, body h3.title, body h4.title, body h5.title, body h6.title {
	font-family: Raleway, sans-serif;
	font-weight: 500
}
body h1.subtitle, body h2.subtitle, body h3.subtitle, body h4.subtitle, body h5.subtitle, body h6.subtitle {
	font-family: Raleway, sans-serif
}
body p, body ul li {
	font-family: Montserrat, sans-serif
}
main {
	padding: 50px 0
}
nav.breadcrumb a {
	color: grey;
	text-transform: uppercase
}
div.page-wrapper {
	padding: 10px 0
}
div.page-wrapper h2.title {
	font-weight: 700;
	color: #000
}
@media screen and (min-width:1087px) {
	p.topbar-cart {
		display: none
	}

	
a.navbar-item,
a.navbar-dropdown {
	color: #fff;
}
}
a.snipcart-checkout.has-text-white {
	display: flex;
	align-items: center
}
div.top-bar {
	background: #f08dfa;
	padding: 8px;
	position: relative;
	z-index: 1
}

div.top-bar a {
	color: #fff;
}


div.top-bar p {
	font-size: 12px;
}
ul.head-nav {
	align-items: center
}

div.cart-count {
	background: #ff4d4d;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
	left: 36px;
	color: #fff;
}

a.cart-button {
	background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
    transition: .2s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    border-radius: 15px;
	border: none;
}

a.account-button {
	border-radius: 50%;
}

div.hero-body h1.title {
	font-family: "Raleway", serif;
	font-weight:800;
	font-size: 5em;
	text-shadow: 2px 13px 13px #e387ec;
}

div.hero-body h2.title {
	padding: 10px;
	color: #fff;
}

hr.hero-bar {
	background-color: #9060ce;
    border: none;
    display: block;
    height: 4px;
    width: 50%;
}

a.hero-btn {
	background-image: linear-gradient(to right, #b28ae6 0%, #7FD7EF 51%, #8c51d8 100%);
	margin: 10px 0px;
    padding: 15px 30px;
    text-align: center;
    text-transform: uppercase;
    transition: .2s;
    background-size: 200% auto;
    color: #FFF;
    box-shadow: 0 0 20px #eee;
    border-radius: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    cursor: pointer;
    display: inline-block;
    border-radius: 25px;
}

a.hero-btn:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin: 8px 5px 12px;
	background-position: right center;
	color: #fff;
	transition: .2s;
}

.date-hero {
	background: #d87ae1;
    display: inline-block;
    padding: 10px;
    color: #fff;
    font-style: italic;
	box-shadow: -20px 12px #9bdefe;
}

div.branding {
	padding: 20px;
}

/* FEATURED HOME */
div.featured {
	transition: all .8s ease;
}

div.featured:hover {
	background:#9060ce!important;
	transition: all .8s ease;
}

/* BANNNER HOME */

div.banner {
	background: #f0d8f7;
	padding: 100px 20px;
}

h3.hashtag {
	background: #7FD7EF;
	display: inline-block;
	color: #fff;
	padding: 5px 10px;
	font-style: italic;
}

a.navbar-item,
a.navbar-dropdown,
a.navbar-link,
a.snipcart-customer-signin,
span.snipcart-total-price,
span.snipcart-items-count {
	font-family: 'Nunito Sans', sans-serif;
	transition: .3s ease;

}
header.navbar {
	padding: 10px 0;
	box-shadow: 0 3px 11px #eaeaea
}
a.navbar-item img {
	max-height: 4rem
}
.navbar-end {
	align-items: center!important
}
.sub-menu:hover .sub-active-menu {
	max-height: 600px;
	transition: max-height .3s ease
}
.navbar-brand h1 {
	font-size: 1.3em;
	color: #fff
}
.banner__section {
    padding: 130px 0;
    box-shadow: 0 5px 20px 0px #5e6c99;
    
}
.banner__section p {
	line-height: 30px
}
.product__information h1.title {
	color: #000
}
.product__information .product__price {
	font-size: 20px;
	color: #000;
	font-family: Montserrat, sans-serif;
}
.product__price h1.title {
	color: #2bb3d7
}
.product__information p {
	line-height: 2;
	font-weight: 400;
	font-family: Montserrat, sans-serif;
	font-size: 15px
}
.thumbnail__product {
	padding: 10px
}
.sale-price {
	text-decoration-line: line-through;
	color: #838383;
	margin: 0 10px;
	font-size: 15px;
	font-weight: 500
}
.sale-tag {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	padding: 10px 20px;
	background: #af70bf;
	color: #fff
}
.product__title h1.title {
	margin-bottom: 5px;
	padding: 0
}
.product__title p {
	text-transform: uppercase;
	font-size: 10px;
	font-family: Montserrat, sans-serif;
	font-weight: 400;
	letter-spacing: .16em
}
.thumbnail__details {
	padding: 15px 0
}
@media screen and (max-width:1087px) {
	div.thumbnail__image {
		height: 25vh
	}
}
.thumbnail__image {
	transition: all .5s ease;
	height: 35vh
}
.thumbnail__image:hover {
	transform: scale(1.1);
	overflow: hidden;
	transition: all .5s ease
}
.thumbnail__container {
	overflow: hidden!important
}
.product__categories {
	padding: 100px 0;
	font-size: 14px;
	color: #767676;
	letter-spacing: 2px
}
.product__categories span {
	font-family: Montserrat, sans-serif;
	text-transform: uppercase;
	display: block;
	line-height: 35px
}
div.blog__details h1.title.blog__title {
	color: #000;
	font-weight: 600;
	font-size: 18px;
	margin-top: 10px
}
span.blog__date {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	padding: 10px;
	background: #fff;
	color: #000
}
ul.blog__categories__thumbnail li {
	display: inline-block;
	text-transform: uppercase;
	font-weight: 300;
	letter-spacing: 1.2px
}
ul.blog__categories__thumbnail li a {
	font-size: 11px;
	color: #000
}
div.thumbnail__blog__img {
	transition: all .3s ease-in-out
}
div.thumbnail__blog__img:hover {
	opacity: .8;
	overflow: hidden;
	padding-left: 5px;
	transition: all .3s ease-in-out
}
div.thumbnail__blog__container {
	overflow: hidden
}
.blog__post p {
	line-height: 2;
	font-weight: 400;
	font-family: Montserrat, sans-serif;
	font-size: 15px;
	-webkit-font-smoothing: ani
}
#share-buttons {
	margin-top: 80px
}
div.faq h3 {
	padding: 10px 0;
	cursor: pointer;
	border-bottom: 1px solid #ccc;
	color: #000;
	font-weight: 600
}
div.faq>div p {
	padding: 10px 0 20px 0;
	line-height: 1.5
}
a.category__item {
	font-family: Raleway, sans-serif;
	font-size: 14px;
	color: #5f5f5f;
	text-transform: capitalize;
	transition: padding .3s ease
}
a.category__item:hover {
	padding-left: 3px;
	transition: padding .3s ease
}
footer {
	padding: 70px 0
}
footer p {
	font-size: 13px;
	line-height: 24px;
	padding-bottom: 15px;
	font-family: Montserrat, sans-serif;
	font-weight: 100
}
footer ul li {
	padding-bottom: 15px;
	font-family: Montserrat, sans-serif;
	font-size: 13px;
	font-weight: 100
}
.footer-links ul li {
	display: inline-block;
	padding-left: 15px
}
.footer-links ul li a {
	color: #6f6f6f
}
.bottom-credit a {
	font-family: inherit;
	font-size: inherit;
	color: #6f6f6f
}
.snipcart-modal__container {
	z-index: 100!important
}
.add__cart__list button {
	background: #2ec3e9;
	border: 0;
	padding: 12px 20px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	width: 150px;
	max-width: 160px;
	transition: all .2s ease;
	margin-top: -20px;
	box-shadow: 1px 3px 16px -10px #000
}
.add__cart__list:hover button {
	background: 0 0;
	border: 1px solid #2ec3e9;
	color: #5e5e5e;
	transition: all .2s ease
}
.add__cart button {
	background: #eeaef3;
	border: 0;
	/* padding: 20px 30px; */
	height: 50px;
	color: #fff;
	font-family: Montserrat, sans-serif;
	cursor: pointer;
	width: 100%;
	transition: all .2s ease
}
.add__cart button:hover {
	background: #bb66d1;
	transition: all .2s ease
}
.add__cart input#quantity{
	font-size: 16px;
	text-align:center
}
/* INCREMENT ARROW */
input[type="number"],
select,
select.selectVar {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

  select::-ms-expand { 
	  display: block;
}
  
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
  }
  
  .number-input {
	border: 1px solid #ddd;
	display: inline-flex;
  }
  
  .number-input button {
	outline:none;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	align-items: center;
	justify-content: center;
	width: 2rem;
	height: inherit;
	cursor: pointer;
	margin: 0;
	position: relative;
  }
  
  .number-input button:before,
  .number-input button:after {
	display: inline-block;
	position: absolute;
	content: '';
	width: 8px;
	height: 1px;
	background-color: #212121;
	transform: translate(-50%, -50%);
  }
  .number-input button.plus:after {
	transform: translate(-50%, -50%) rotate(90deg);
  }
  
  .number-input input[type=number] {
	font-family: sans-serif;
	max-width: 5rem;
	padding: .5rem;
	border: 1px solid #ddd;
	border-width: 0px 1px;
	font-size: 16px;
	text-align: center;
  }


.snipcart__icon--blue-dark path, .snipcart__icon--blue-light path {
	fill: #af70bf!important
}
button.snipcart-cart-button--highlight {
	background: #af70bf
}
a.snipcart__actions--link, button.snipcart__actions--link {
	color: #af70bf
}
.snipcart-overwrite #snipcart-header #snipcart-title {
	color: #50bcd0;
	background: url(/uploads/corwinklogo.png) no-repeat 0 center;
	padding-left: 60px
}
div.tabs li.is-active a {
	color: #7c7c7c;
	border-bottom-color: #7c7c7c
}
#tabs-with-content .tabs:not(:last-child) {
	margin-bottom: 0
}
#tabs-with-content .tab-content {
	padding: 1rem;
	display: none
}
#tabs-with-content .tab-content.is-active {
	display: block
}
section.product__tabs p {
	line-height: 2rem;
	font-family: Montserrat, sans-serif;
	font-weight: 300;
	font-size: 16px;
	padding: 15px 0
}
.contact-page-social li {
	display: inline-block;
	padding: 7px
}
.contact-information p {
	line-height: 30px;
	font-weight: 300;
	padding: 20px 0
}
ul.contact-page-icons li {
	font-size: 16px;
	line-height: 34px
}
ul.contact-page-social li a i {
	color: #000
}
ul.contact-page-icons li a {
	color: #000;
	font-weight: 300
}
input.input {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	box-shadow: none;
	border-radius: 0;
	border-bottom-color: #000;
	font-family: Montserrat, sans-serif
}
textarea.textarea {
	border-top: 0;
	border-right: 0;
	border-left: 0;
	box-shadow: none;
	border-radius: 0;
	border-bottom-color: #000;
	background: #f6f6f6;
	font-family: Montserrat, sans-serif
}
select.selectVar {
	height: 3rem!important;
	padding: 0 20px;
	width: 100%;
	border-color: #dfdfdf;
}
form button.button {
	background-color: #000;
	width: 100%;
	color: #fff;
	text-transform: uppercase;
	font-family: Montserrat, sans-serif;
	padding: 25px 50px;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}
ul.slick-dots li button:before {
	font-size: 24px
}

button.slick-prev {
    left: 0;
    z-index: 20;
}

.product-slide > button.slick-prev:before {
    content: "\25c4";
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    transition: all .3s ease;
    padding: 10px;
    background: rgb(0 0 0 / 61%);
}

.product-slide > button.slick-next:before {
    content: "\25ba";
    font-size: 15px;
    font-weight: 900;
    color: #fff;
    transition: all .3s ease;
    background: rgb(0 0 0 / 61%);
    padding: 10px;

}

.product-slide > button.slick-next{
    right: 14px;
}


#mce-EMAIL {
	padding: 10px;
	width: 100%
}
#mc-embedded-subscribe {
	width: 100%;
	margin-top: 10px;
	border-radius: 0
}
#share-buttons a i {
	color: #000;
	margin-right: 6px
}

div.pre-order {
	border: 1px solid #7FD7EF;
	width: 150px;
	padding: 8px;
	border-radius: 5px;
}

div.pre-order h4 {
	margin: 0;
	color: #7FD7EF;
}

/* FILTER */

.sidenav {
	height: 100%;
	width: 0;
	position: fixed;
	z-index: 100;
	top: 0;
	left: 0;
	background-color: #AF70BF;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
  }

  div.sidenav h2.subtitle.is-6 {
	  font-size: 14px;
	  padding-left: 15px;
	  color: #fff!important;
  }
  
  .sidenav a {
	padding: 8px 8px 8px 32px;
	text-decoration: none;
	font-size: 14px;
	color: #fff;
	display: block;
	transition: 0.3s;
  }
  
  .sidenav a:hover {
	color: #f1f1f1;
  }
  
  .sidenav .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
  }
  
  #main {
	transition: margin-left .5s;
	padding: 16px;
  }


  @media screen and (max-width: 768px) {
	  .filter-products {
		  display: none!important;
	  }
  }

  @media screen and (min-width: 768px){
	  .filter-nav {
		  display: none;
	  }
  }

  .fb-comments iframe { width: 100% !important; }