{{ $firstSec := .Site.Data.design.home_section_text.home_inrto_section }}

<div class="section mt-6">
    <div class="container">
        {{/*  <div class="columns">
            <div class="column is-half is-offset-one-quarter has-text-centered">
                <div class="product-title">
                    <h2 class="title is-4">{{ $firstSec.subtitle }}</h2>
                    <h2 class="title is-2">{{ $firstSec.heading }}</h2>
                    <p class="content">{{ $firstSec.body_text | markdownify }}</p>
                </div>
            </div>
        </div>  */}}
        <div class="responsive-slide">
            {{ range first 6 (where $.Site.RegularPages "Type" "products") }}
            <div class="column">
                {{ partial "product-thumbnail.html" . }}
            </div>
            {{end}}
        </div>
    </div>
</div>
