{{ partial "newnav.html" . }}
<section class="is-fullheight hero__container">
    <!-- Hero content: will be in the middle -->
    <div class="hero-body" style="position: absolute; z-index:1;">
          <div class="container">
            <div class="columns">
                <div class="column has-text-left is-half">
                    <h1 class="hero-title title is-1 has-text-left is-size-3-mobile">{{ .Site.Data.design.home_slideshow.slideshow_title | markdownify }}</h1>
                    <h2 class="hero-subtitle subtitle has-text-left is-size-5-mobile">{{ .Site.Data.design.home_slideshow.slideshow_subtitle }}</h2>
                    <br>
                    <p>
                        <a href="/products" class="hero-button">Shop Now</a>
                    </p>
                </div>
            </div> 
          </div>
    </div>

<div class="home-slide">
{{ range .Site.Data.design.home_slideshow.slideshow }}
    <div style="background:linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)),url({{ . }});height:80vh;background-size:cover;background-repeat:no-repeat;background-position: 80%" class="lax" data-lax-bg-pos-y="100 0, vh 200 500">
    </div>
{{ end }}
  </div>
</section>
