<div class="section">
    <div class="container is-fluid banner">
        <div class="columns">
            <div class="column has-text-centered has-text-white is-half is-offset-one-quarter">
                <h3 class="title is-4 hashtag">#corwinkcrew</h3>
                <h2 class="title is-3 has-text-white">Luxury Lashes by Corwink Cosmetics</h2>
                <p>Our mission is to keep the highest quality of luxury lashes you love at an affordable price while providing unique options that fit your lash needs.</p>
                <div class="is-block mt-5">
                    <a href="/products" class="hero-btn">Shop Now</a>
                </div>
            </div>
        </div>
    </div>
</div>