<section class="hero is-fullheight" style="background:url(uploads/bright.jpg) no-repeat center;background-size:cover">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {{ partial "global/navbar" . }}
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <div class="is-block">
                    <h1 class="title has-text-left is-size-1-mobile" style="color:#232D60">BLACK FRIDAY SALE</h1>
                    <h4 class="title is-5 date-hero has-text-white">Starting November 27th - 29th</h4>
                    <hr class="hero-bar">
                    <p class="pt-5 has-text-left is-size-5" style="color;#232D60">Shop our collections for special black friday deals and receive <span class="has-text-weight-bold is-underline">Free Shipping</span> over $50</p>
                </div>
                <div class="is-block mt-5">
                    <a href="/products" class="hero-btn">SHOP NOW</a>
                </div>
            </div>
            <div class="column">
               <img src="/uploads/product.png" alt="">
            </div>
        </div>
      </div>
    </div>

  <!-- Hero footer: will stick at the bottom -->
  {{/*  <div class="hero-foot pb-4">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Secured Payment</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">View Magnetic Liners</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">View Lashes</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Magnetic Lashes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>
      </div>
    </nav>
  </div>  */}}
</section>