<section class="hero is-fullheight" style="background:url(uploads/2020splash.jpg) no-repeat center;background-size:cover">
    <!-- Hero head: will stick at the top -->
    <div class="hero-head">
        {{ partial "global/navbar" . }}
    </div>
  
    <!-- Hero content: will be in the middle -->
    <div class="hero-body">
      <div class="container">
        <div class="columns is-vcentered">
            <div class="column">
                <h1 class="mb-0 title has-text-white has-text-centered">BLACK FRIDAY SALE</h1>
                <hr class="hero-bar">
                <p class="has-text-white pt-5 has-text-centered">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deleniti, voluptatem obcaecati eveniet soluta dignissimos rem porro modi iusto ut non nostrum quasi veritatis earum perferendis esse quam dolorum eligendi. Laboriosam.</p>
            </div>
            <div class="column">
               <img src="/uploads/box4.png" alt="">
            </div>
        </div>
      </div>
    </div>

  <!-- Hero footer: will stick at the bottom -->
  {{/*  <div class="hero-foot pb-4">
    <nav class="tabs is-boxed is-fullwidth">
      <div class="container">
<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Secured Payment</p>
      <p class="title">3,456</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">View Magnetic Liners</p>
      <p class="title">123</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">View Lashes</p>
      <p class="title">456K</p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Magnetic Lashes</p>
      <p class="title">789</p>
    </div>
  </div>
</nav>
      </div>
    </nav>
  </div>  */}}
</section>